// colors
$white: hsl(0, 0%, 100%);
$green: hsl(75, 94%, 57%);
$grey-700: hsl(0, 0%, 20%);
$grey-800: hsl(0, 0%, 12%);
$grey-900: hsl(0, 0%, 8%);

// fonts
$font-size-lg: 1.25rem;
$font-size-md: 0.875rem;
$font-weight-sm: 400;
$font-weight-md: 600;
$font-weight-lg: 700;

// spacing
$padding-xsm: 0.9375rem;
$padding-sm: 1.25rem;
$padding-md: 1.5rem;
$padding-lg: 2.25rem;
$margin-lg: 1.875rem;
$margin-md: 1.25rem;
$margin-sm: 0.9375rem;
$gap: 0.9375rem;

// border-radius
$border-radius-md: 1.25rem;
$border-radius-sm: 0.625rem;

